@import "tailwindcss";

:root {
  --background: #080a10;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}